body {
  background-image: url(img/architecture-bay-bridge-833773.jpg);
  background-size: cover;
  overflow: hidden;
  font-family: tahoma;
}
#card {
  overflow: hidden;
  text-align: center;
  width: 320px;
  height: 535px;
  background-image: url(img/architecture-bay-bridge-833773.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 30px -20px rgba(0, 0, 0, 1),
    inset 0 0 0 1000px rgba(67, 52, 109, 0.6);
  transition: all 0.4s cubic-bezier(0.37, 0.26, 0.109, 0.2);
}
#card:hover {
  box-shadow: 0px 30px 30pc -20px rgba(0, 0, 0, 0.9),
    inset 0 0 0 1000px rgba(67, 52, 109, 0.2);
}
#card:hover #avatar {
  animation: none;
  box-shadow: 0;
  width: 200px;
  height: 200px;
}
#card:hover #profile {
  opacity: 1;
  bottom: 0;
}
#profile {
  transition: all 0.5s cubic-bezier(0.37, 0.26, 0.35, 1);
  opacity: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
#profile h1 {
  color: white;
  padding: 0;
  margin: 0;
}
#profile h3 {
  color: #aaa;
  padding: 0;
  margin: 5px 0 40px 0;
  font-size: 0.9em;
}
#avatar {
  transition: all 0.4s cubic-bezier(0.37, 0.26, 0.35, 1);
  animation: circleAn 4s infinite;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(img/linkdin-pic.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.6);
}
